*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
body{
    font-family:"system-ui";
    /* background:grey; */
    overflow-x:hidden;
    
}
.mainContainer{
  position:relative;
}
.section{
    height: 100vh;
    width:100%;
}

.section1{

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}
.sectionContent{
    width:80vw;
    margin: auto;
}

.headerContainer{
    margin:0;
    display:flex;
    gap:70px;
    justify-content:space-between;
    color:rgba(255,255,255,4);
    position:fi;
    top:0vh;
    background:transparent;
    filter:blur(.5)
    
}

.logo{
    width:20%;
    transform:translateX(20%);
}
.logo img{
    width:100%;
    height:100px;
    filter: drop-shadow(10px 8px 6px black)
}
.headerSide{
    display:flex;
    width:70vw;
    /* gap:60px; */
    justify-content:space-between;

}
.headerContainer{
  position:relative;
}

.headerContainer ul{
    display:flex;
    gap:50px;
    transform:translateY(150%)
    
}

.headerContainer ul li{
    list-style:none;
    text-decoration:none;
    font-size:1em;
}
.headerContainer ul li a{
    color:rgba(255, 255, 255,.7);
    text-decoration:none;
    font-size:1em;
}
.active{
  color:white;
}

.register{
    font-size:.9em;
    
}
.register .sign{
    padding:7px 20px;
    border-radius:40px;
    box-sizing:border-box;
    transform:translateY(-80%)
}
.register .In{
    border:1px solid white;
}
.active::after{

}

.burger{
  position:absolute;
  right:10%;
  top:30px;
  display:none;
  cursor:pointer
}
.burger-line{
  width:25px;
  height:3px;
  background:white;
  margin:6px 0px;
  border-radius: 40px;
  text-align: center;

 
}
.burger-content{
  padding:30px 0px;
  display:flex;
}
.burger-content ul{
  display:flex;
  flex-direction:column;
  justify-content:space-around;;
  gap:15px;
  text-align: center; 
  min-width:100px;
  padding: 10px;
  max-width: 200px;
  width:200px;
  background-color: rgba(171,143,64,.6);
  position:absolute;
  right: 100px;
  top:-500px;
}
.burger-content ul li a{
  padding:7px 20px;
    border-radius:40px;
    box-sizing:border-box;
}
.headerSide{
  justify-self:flex-end;
  transform:translateX(20%);
}


/* End of heading */

.side{
    width:40%;
    color:white;
    margin:80px 0px;
    display:flex;
    flex-direction:column;
    gap:30px;
    

}
.side h1{
    font-size:2em;
}
.side p{
    font-size:1.1em;
    line-height:1.8em;
}
.side h1 span{
    color:rgb(171,143,64)
}

.side button{
    padding:10px 20px;
    color:white;
    border:2px solid rgb(171,143,64);
    border-radius:40px;
    display:flex;
    justify-content:space-between;
    background:transparent;
    position:relative;
    box-shadow:3px 3px 3px 3px solid rgb(171,143,64);
}
.side button .arrow{
    color:rgb(171,143,64);
    font-size:2em;
    /* padding:-10px; */
    position:absolute;
    right:30px;
    top:0px;
}

.partners{
    display:flex;
    flex-wrap:wrap;
    gap:0px;
    justify-content:space-between;
    
    
}
marquee{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:-90px;
}
marquee .partners{
  transform: translateY(50%);
}
.partners img{
    transform:scale(.7);
    width:200px;
    height:100px;
    filter:contrast(.6)
}
.partners .image{
  margin-right:-20px;
}



.links{
    display:flex;
    flex-direction:column;
    gap:10px;
    position:absolute;
    left:30px;
    top:50%;

}


.links img{
    width:20px;
    height:20px;
    filter:sepia(.9)
}

.section2{
    background-color:white;
    height:80vh;
}

.sideImage{
    width:50%;
    height:100%;

}
.sideImage img{
    width:100%;
    height:100%;
    position:relative;
    filter:sepia(.9)
}

.sectionContent2 .sideContent{
    width:50%;
    gap:20px;
    display:flex;
    flex-direction:column;
    padding:20px 0px;
}
.sectionContent2{
    display:flex;
    justify-content:space-between;
    /* flex-wrap:wrap; */
}


.sideContent h4{
    color:rgba(171,143,64,.6);
    
}
.sideContent h2{
    color:rgb(171,143,64);
    font-size:2.2em;
    letter-spacing:.05em;
    width:90%;
}
.sideContent p{
    line-height:1.7em;
    letter-spacing:.05em;
    width:90%;
}
.sideContent .sideParagraph{
    gap:20px;
    display:flex;
    flex-direction:column;
}


.section3{
    height:30vh;
    background-color:rgba(171,143,64,.6);
    position:relative;
}
.sectionContent3{
    display:flex;

}

.sectionContent3 img{
    width:50px;
    height:50px;
}

.sectionContent3 .rightContent, .sectionContent3 .leftContent{
    display:flex;
    gap:30px;
    margin:70px 0px;
}

.sectionContent3 .rightContent p, .sectionContent3 .leftContent p{
    width:70%;
    line-height:1.6em;
}
.disk img{
    width:150px;
    height:150px;
    position:absolute;
    right:45%;
    bottom:-70px;
}

.section4{
   
    position:relative;
}
.sectionContent4{
    display:flex;
    flex-wrap:wrap;
}
.sectionContent4 .sideImage{
  width:50%;
}
.sectionContent4 .sideImage img{
filter:none;
width:110%;
height:100%;
filter:drop-shadow(6px 1px 10px black)
} 
.sectionContent4 .sideContent{
  width:50%;

}
.sideContent h4{
    color:black;
    font-size:1.4em;
    position:relative;
    line-height: 2em;;
}
.sideTitle{
    text-align:center;
    font-size:1.2em;
    color:rgb(171,143,64);
    padding:100px 0px 40px 0px;
}

.sideParagraph{
    width:80%;
}
.sideParagraph button{
    width:80%;
  margin-top:10px;
}

.circle-lines{
    display:flex;
    flex-direction:column;
    position:absolute;
    right:10%;
    top:0%;
    z-index:3;
    
}
.circle-lines button{
    width:30px;
    height:30px;
    border-radius:50%;
    padding:0px;
    background: white;
    margin:0px;
    border:1px solid rgb(171,143,64);
    cursor:pointer;
}
.circle-lines .line{
height:20px;
width:2px;
margin-top:-4px;
background:rgb(171,143,64);
margin-left:13px;
}

.sideParagraph button{
    cursor:pointer;
    padding:10px 5px;
    color:white;
    border:2px solid rgb(171,143,64);
    border-radius:40px;
    display:flex;
    justify-content:space-around;
    background:rgb(171,143,64);
    position:relative;
    box-shadow: 0px 0px 10px 0px rgb(171,143,64);
    box-shadow:3px 3px 3px 3px solid rgb(171,143,64);
}
.sideParagraph button .arrow{
    color:white;
    font-size:2em;
    padding:-10px;
    position:absolute;
    right:30px;
    top:0px;
}

.disk2 img{
    width:150px;
    height:150px;
    position:absolute;
    right:30%;
    bottom:-70px;
}

.sectionContent5 .circular img{
    width:400px;
    height:400px;
    transform:translate(90%,35%);
    margin:auto;
    position:relative;
    animation: rotation 2s infinite linear;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
  .sectionContent5{
    /* width:100%; */
    height:50%;
    display:flex;
    flex-direction:column;

  }

  .circularImages{
    width:80%;

    margin:auto;
    display:flex;
    align-items:center;
    justify-content: center;
    gap:7%;
  }
 

  .circularImages img{
   
    width:170px;
    height:170px;
    /* border:1px solid white; */
    /* border-radius:50%; */
    padding:10px; 
    filter:contrast(0);
    filter:drop-shadow(4px 4px 6px solid white)
  }
  
  .circularImages img:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }

  .circularImages{
    color:white;
    text-align: center;
  }
.sectionContent5 h4{
        color:white;
    text-align: center;
    margin:70px 0px;
    font-size: 1.4em;;
}
.section6{
  /* background:red; */
}

.sectionContent6{
    display:flex;
    justify-content: space-between;
  }

.sectionContent6 .sideContent{
  display:flex;
  flex-direction:column;
  position:relative;
    width:60%
  }
  .map{
    width:90%;
    height:40vh;
    /* border:1px solid black; */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position:relative; */
  }
  .map img{
    width:100%;
    height:100%;
    object-fit:contain;
    margin-top:-50px;
    filter: sepia(1);
    

  }
  .sectionContent6 .sideContent .country{
    position:absolute;
    top:40%;
    left:20%;

  }
  @keyframes enlarge1 {
    100% {
      transform:scale(1) translate(450%, 200%);
    }
    50% {
      transform:scale(1.005) translate(450%, 200%);
    }
    0% {
      transform:scale(1) translate(450%, 200%);
    }
  }
  @keyframes enlarge {
    100% {
      transform:scale(1);
    }
    50% {
      transform:scale(1.05);
    }
    0% {
      transform:scale(1);
    }
  }
  .country img{
    /* mix-blend-mode:hard-light; */
    background-color:none;
    width:40px;
    height:50px;
    animation-name: enlarge;
    /* animation: enlarge 2s infinite linear; */
    cursor:pointer;
  }
 .usa img{
  
  transform:translate(40%, 240%);
  
  }
  .rwanda img{
   
    transform:translate(500%, 340%)
  }
  .england img{
   transform:translate(450%, 220%);
   animation: enlarge1 2s infinite linear;
  z-index:5;
  
    
  }
  .france img{
   
    transform:translate(520%, 220%)
  }

.sectionContent6 .ourSuccess{
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;


  }

.sectionContent6 h4{
    font-size:1.4em;
    color:rgb(171,143,64);
    margin:20px 0px;  
  }
.sectionContent6 p{
    font-size:1.2em;
    /* margin:20px 0px;  */
    width:70%; 
  }

.successContent{
    margin:0px 0px;
    border:1px solid black;
    padding:10px 10px 10px 30px;
    background:rgb(32, 18, 1);
    color:white;
    height:60%;
    border-radius: 40px 0px 0px 0px ;
}

.successImage{
    /* padding:5px; */
    border:1px solid black;
    border-radius: 0px 40px 0px 0px ;
    width:80%;
    justify-self: end;
    margin-left:20%;
    height:20%
}
.successImage .image img{
  border-radius: 0px 40px 0px 0px ;
    width:100%;
    height:100px;
    object-fit:contain;
   
}
 
  .ourSuccess{
    display:flex;
    flex-direction:column;
    
  }
/* section7 */

.sectionContent7{
    display: flex;

}
.contactForm{
    width:45%;
    height:90%;
    margin:0px 0px;
  }

  .contactForm form{
    width:100%;
    height:100%;
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:30px 5px;
    color:white;
    gap:15px;
  }

  .contactForm form .input{
    display:flex;
    /* flex-direction: column; */
    gap:15px;
    justify-content:space-between;

  }
  .contactForm form input, form textarea{
    padding:10px;
    outline:none;
    background:transparent;
    border:1px solid white;
    border-radius: 40px;
    color:white;
    margin-bottom:10px;
    width:300px;
    letter-spacing:1px;
    font-family:"system-ui"
  }
  .contactForm form textarea{
    border-radius:10px;
  }

  .contactForm form select{
    padding:10px 30px;
    outline:none;
    background:transparent;
    border:1px solid white;
    border-radius: 40px;
    color:rgb(171,143,64);
    width:300px;
  }

  .contactForm form button{
    padding:10px 25px;
    color:white;
    background:rgb(171,143,64);
    border:none;
    border-radius: 40px;;
    /* margin:30px 10px; */
  }

  .location img{
    width:100px;
    height:100px;
  }

  .location{
    display:flex;
    flex-direction:column;
    gap:10px;
    width:60%;
    position:relative;
    /* align-items: end; */
    justify-content: end;

  }

  .locSect1{
    padding:20px 40px;;
    color:white;
    background:rgb(32, 18, 1);
    text-align: center;
    display:flex;
    flex-direction: column;
    gap:5px;
    border-radius: 20px;;
    position:absolute;
    right:30%;
    top:0%;
  }

  .locSect1 img{
    background:white;
    border-radius: 50%;
    padding:10px;
    width:75px;
    height:75px;
  }

  .map-container {
    height: 80%;
    width: 100%;
  }
  .footer{
    height:60vh;
    background-color:rgb(250, 238, 255)
  }

 .footerContent{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding:5% 0px;
 }

 .footer-sec1{
    display:flex;
    flex-direction: column;
    gap:30px;
    width:300px;
    
 }

 .footer-sec1 .image img{
    width:60%;
    /* height:m */
 }
 .footer-sec1 p{
    width:80%;
 }
  .footer-links{
    display:flex;
    gap:20px;
  }

  .footer-sec2, .footer-sec3{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:20%;
  }
  .footer-sec2 a, .footer-sec3 a{
    text-decoration: none;
    color:black;
  }

  .footer-sec4{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:30%;
    
  }
  .footer-sec4 input{
  padding:10px 15px;
  border:1px solid rgb(171,143,64);
  border-radius: 40px;
  
  }
  .footer-sec4 button{
  padding:10px 15px;
  background: rgb(171,143,64);
  border-radius: 40px;
  color:white;
  border:none;
  transform: translateX(-50%);
  box-shadow: 1px 1px 3px 1px solid rgb(171,143,64);
  }

  @media only screen and (min-width: 600px){

  }.brown{
    background-color:rgb(171,143,64);
  }
  .white{
    background-color:white;
  }

  .contactPop{
    width:350px;
    height:80vh;
    position:fixed;
    right:5%;
    bottom:2%;
    display:flex;
    flex-direction: column;
    z-index:1;
    gap:10px;
    transition:.4s;
    

  }
   .firstPop{
    width:100%;
    height:80%;
    background:grey;
    margin:0px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20px 0px;;
    border-radius: 20px;;
    transition:.4s;

  }
 
  .contactPop form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 0px;
    padding:0px 0px;
    
    color:white;
  }

  .contactPop form .input{
    display:flex;
    align-items:start;
    justify-content: space-between;
    /* flex-direction: column; */
    gap:15px;

  }
  .contactPop form input{
    padding:10px;
    outline:none;
    background:transparent;
    border:1px solid white;
    border-radius: 40px;
    color:white;
    margin-bottom:20px;
    min-width:60%;
  }

  .contactPop form select{
    padding:10px 30px;
    outline:none;
    background:transparent;
    border:1px solid white;
    border-radius: 40px;
    color:rgb(171,143,64);
    min-width:60%;
  }

  .contactPop form button{
    padding:10px 25px;
    color:white;
    background:rgb(171,143,64);
    border:none;
    border-radius: 40px;;
    margin:30px 10px;
  }

  .secondPop{
    width:100%;
    height:15%;
    display:flex;
    flex-direction: column;
    align-items:center;
  }

  .secondPop button{
    padding:7px 15px;
    text-align:center;
    background-color: rgb(32, 32, 32);
    color:rgb(255, 255, 255);
    border:2px solid rgb(32, 18, 1);
    border-radius: 40px;;
    cursor:pointer;
    font-size:1.1em;
    font-weight:500;
    position:fixed;
    bottom:5%;
    right:5%;
    z-index:2;
    transition:.4s;
  }

  #circleId1{
    background: rgb(171,143,64)
  }
  #secondPop{
    display:flex;
  }

  .hidden{
    /* display:none; */
    transform: scale(0);
    /* transform: translateX(100%); */
  }

  .visibly{
    /* display:flex; */
    transform: scale(1);

  }

  button{
    transition:.4s;
  }
  button:hover{
    background:rgb(32, 18, 1);
  }

  @media only screen and (max-width: 800px){
    .headerSide{
      display:none;
    }
    .burger{
      display:block;
    }
    .logo{
      width:30%;
    }
    .side{
      width:90%;
      margin:50px 15px;
      
    }
    .side button{
      width:80%;
    }
    /* .sectionContent2{
      flex-direction:row;
      display:block;
    } */
    .section2 {
      margin:30px 0px 0px 0px;
    }
    .sectionContent2 .sideImage{
      display:none;
    }
    .sectionContent2 .sideContent{
      width:100%;
      text-align:center;
      gap:20px;
    }
    .sectionContent2 .sideContent h4{
      
      color:rgb(32, 18, 1);
      line-height:12px;
      font-size:1.4em;
    
    }
    .sectionContent2 .sideContent h2{

      font-size:1.8em;
    }
    .sectionContent2 .sideContent p{
      /* line-height:1.4em; */
      letter-spacing:.03em;
      width:100%;
  }
  .section3{
    height:50vh;
    padding-top:10px ;
  }
  .sectionContent3{
flex-direction:column;
display:block;
align-items:center;

  }

  .circle-lines{
    display:flex;
    flex-direction:row;
    margin:0px ;
    transform:translate(-27%,-130%)
  }
  
  .circle-lines .line{
    rotate:90deg;
    transform:translate(300%,30%)
  }
  .sectionContent4 .sideImage{
    width:50%;
    display:none
  }
  .sectionContent4{
    justify-content:center;
    align-items:center;
    display:flex;
    flex-wrap:wrap;
    
    /* flex-direction:column-reverse; */
}
.sectionContent4 .sideContent{
  width:90%;
  margin-top:50px;

}
.sectionContent5{
  flex-direction:column;
}
.sectionContent5 .circularImages{
  flex-direction:column;
  width:40%;
}
.sectionContent5 .circularImages h3{
  font-size:1em;
}
.sectionContent5 .circularImages img{

  width:100px;
    height:100px;
}

.sectionContent5 h4{

font-size: 1.2em;;
}

.sectionContent6 {
  display:flex;
  flex-direction:column;
  justify-content:center;
  /* align-items:center; */
  
  }
.sectionContent6 .sideContent{
  width:60%;
  /* text-align:center; */
  position:relative;
}
.sectionContent6 .sideContent h4{
  
  text-align:center;
}
.sectionContent6 .sideContent p{
  line-height:1.4em;
  letter-spacing:.5px;
  margin-bottom:15px;
  font-size:1em;
}
.sectionContent6  .ourSuccess{
  position:absolute;
  font-size:1em;
  right:5%;
  /* top:5%; */
  width:40%;
  transform:translate(0%,-30%)
}
.sectionContent6  .ourSuccess p{
  font-size:1em;
}
.sectionContent6  .ourSuccess h4{
  font-size:1.3em;
}
.successContent{
  min-width:120%;
  padding:10px 20px ;
  border-radius: 40px 0px 0px 0px ;
}
.successImage{
 
  margin-left:40%;
  height:15%
}
.successImage .image img{
  
    height:50px;
    object-fit:contain;
      
}
.map{
  width:150%;
  margin-top:50px;
  transform:translateY(0%);
  position:relative;
}
.country img{
position:absolute;
}
.usa img{
  transform:translate(70%, 320%);
  }
  .rwanda img{
    transform:translate(470%, 370%)
  }
  .england img{
   transform:translate(450%, 260%);
 
  }
  .france img{
   
    transform:translate(520%, 270%)
  }

  .section7{
    min-height:170vh;
}
  .sectionContent7{
    /* align-items:center; */
    flex-direction:column-reverse;
}
.mapper{
  width:80vw;
}
.mapComponent, .map-container{
  width:100%;
}

.contactForm{
  width:90%;
}
.footerContent{
/* flex-direction:column; */
}

.footer-sec3{
  display:none;
}

    }